.sidebar {
  height: 100%;
  position: relative !important;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  float: left;
  background: #eaeef1;
}

.sidebar__item,
.sidebar__item img,
.sidebar__item:link,
.sidebar__item:visited {
  width: 100%;
  margin-top: 30px;
  color: black;
}

.sidebar__item--image {
  text-align: center;
  display: block;
}
