:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aside__content {
  padding: 25px;
}

.aside__card {
  box-shadow: var(--billy-box-shadow-lighter);
  padding: 15px;
  margin: 0 0 25px 0;
  border-radius: 10px;
}

.aside__card:first-child {
  margin: var(--billy-aside-card-margin-offset) 0 25px 0;
}

.aside__title {
  margin: 0;
}

.aside__line {
  height: var(--billy-line-height);
  border: none;
  border-radius: var(--billy-line-radius);
  background-color: var(--billy-color-grey);
  margin: 5px 0 20px 0;
}

.aside__textWrapper {
  margin: 0 0 10px 0;
}

.aside__text {
  margin: 0 0 5px 0;
}

.aside__text--bold {
  font-size: 19px;
  font-weight: bold;
}

.aside__logoWrapper {
  display: flex;
}

.aside__logo {
  height: 20px;
  width: auto;
  margin: 0 5px 0 0;
}

.link {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 0;
}

.link__title {
  font-size: 19px;
}
