.sideBar {
  display: flex;
  flex-direction: column;
  max-width: 130px;
  height: 100%;
  padding: 10px;
  position: fixed;
  overflow: hidden;
  text-align: center;
  background: #eaeef1;
  box-shadow: 0px 5px 10px var(--billy-color-shadow);
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  color: black;
  text-decoration: none;
}

.item__image {
  width: 90%;
}

.item__image {
  text-align: center;
  display: block;
}
