:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--billy-gradient);
  box-shadow: 0px 5px 10px var(--billy-color-shadow);
}

.hero__header {
  width: 100%;
}

.hero__contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hero__content {
  width: var(--billy-hero-content-width);
  margin: 0 0 var(--billy-hero-content-margin-offset) 0;
}

.hero__logo {
  margin: 0;
  font-size: 125px;
  color: var(--billy-color-white);
  text-align: center;
  user-select: none;
  text-shadow: var(--billy-text-shadow);
}

.hero__underTitle {
  font-size: 25px;
  margin: 0 0 50px 0;
  user-select: none;
  color: var(--billy-color-white);
  text-align: center;
  font-weight: normal;
}

.hero__footerText  {
  position: absolute;
  bottom: 0;
}

.hero__categoryTitle {
  color: var(--billy-color-white);
  user-select: none;
}

.hero__categoryTitle--hide {
  display: none;
}
