@import "./variables.css";

html {
  font-family: "Aller";
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  text-shadow: 0px 5px 10px var(--billy-color-shadow);
  display: inline-block;
  font-family: "Aller";
  margin: 10px 0 10px 0;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--billy-gradient);
  box-shadow: 0px 5px 10px var(--billy-color-shadow);
  z-index: 2;
}

.main--contrast {
  background: black;
}

.main__logo {
  margin-top: 200px;
  user-select: none;
  font-size: 100px;
  text-align: center;
  color: var(--billy-white);
}

.main__underTitle {
  font-size: 20px;
  margin: 0 0 50px 0;
  user-select: none;
  color: var(--billy-white);
  font-weight: normal;
}

.topBar {
  display: flex;
  padding: 15px 0;
  align-content: center;
  align-self: flex-end;
  justify-self: flex-end;
}

.topBar > * {
  margin: 0 0 0 20px;
}
.navbar {
  background: black;
}

.navbar ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.result {
  width: 65%;
  padding: 30px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.main__categoryTitle {
  margin-top: auto;
  color: var(--billy-white);
  user-select: none;
}

.categoryBar {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  background-color: var(--billy-white);
  height: 200px;
  width: 100%;
  margin-top: auto;
}
