:root {
  --billy-color-turquoise: #72efda;
  --billy-color-blue: #22bef9;
  --billy-color-white: #fff;

  --billy-gradient: linear-gradient(
    to bottom right,
    var(--billy-color-turquoise),
    var(--billy-color-blue)
  );

  --billy-color-shadow: rgba(0, 0, 0, 0.31);
}

@font-face {
  font-family: Aller;
  src: url(/src/assets/font/aller.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Aller;
  src: url(/src/assets/font/aller-bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Aller;
  src: url(/src/assets/font/aller-bold-italic.woff2);
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Aller;
  src: url(/src/assets/font/aller-italic.woff2);
  font-style: italic;
  font-weight: normal;
}
