@import "/src/base/css/style.css";
@import "/src/base/css/variables.css";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  height: 50px;
  display: flex;
  margin: 0;
  box-shadow: 0px 5px 10px var(--billy-color-shadow);
  border-radius: 100px;
  padding: 0;
}

.field--contrast {
  border: 2px solid;
}

.field__input {
  height: 100%;
  margin: 0;
  width: 500px;
  border: none;
  font-size: 20px;
  padding: 0 20px;
  border-radius: 100px;
}

.register__link {
  margin-top: 10px;
  color: white;
  font-size: 13px;
}

.register__link--show {
  display: inline-block;
}

.field__button {
  background-color: black;
  color: white;
  height: 100%;
  margin: 0;
  width: 540px;
  border: none;
  font-size: 20px;
  padding: 0 20px;
  border-radius: 100px;
}
