@import "./variables.css";

html {
  font-family: "Aller";
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5 {
  text-shadow: 0px 5px 10px var(--billy-color-shadow);
  display: inline-block;
  font-family: "Aller";
  margin: 10px 0 10px 0;
}

.result {
  width: 65%;
  padding: 30px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.categoryBar {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  background-color: var(--billy-color-white);
  height: 200px;
  width: 100%;
  margin-top: auto;
}
