@import "./variables.css";

html {
  font-family: "Aller";
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5 {
  text-shadow: 0px 5px 10px var(--billy-color-shadow);
  display: inline-block;
  font-family: "Aller";
  margin: 10px 0 10px 0;
}

main {
  height: 100%;
  width: 100%;
}

/* TODO: This should go into a component */
.result {
  width: 100%;
  padding: 30px;
  text-align: left;
}

.result__title {
  font-size: var(--billy-title-size);
  text-shadow: none;
}

.result__hr {
  margin: var(--billy-line-margin);
  height: var(--billy-line-height);
  border: none;
  border-radius: var(--billy-line-radius);
  background-color: var(--billy-color-grey);
}

/* TODO: This should also go into a component */
.categoryBar {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  background-color: var(--billy-color-white);
  width: 100%;
  height: 200px;
  margin-top: auto;
}
