:root {
  --billy-font-family: "Aller";

  /* Color: */
  --billy-color-warning-secondary: #e51b1b;
  --billy-color-warning-primary: #fc4c4c;
  --billy-color-brand-secondary: #801be5;
  --billy-color-shadow-lighter: rgba(0, 0, 0, 0.15);
  --billy-color-brand-primary: #4c74fc;
  --billy-color-transparent: transparent;
  --billy-color-line-light: #dddddd;
  --billy-color-quotes: #ccc;

  /* Shadow: */
  --billy-box-shadow-lighter: 0 5px 10px var(--billy-color-shadow-lighter);
  --billy-color-shadow: rgba(0, 0, 0, 0.25);
  --billy-text-shadow: 0 5px 10px var(--billy-color-shadow);
  --billy-box-shadow: 0 5px 10px var(--billy-color-shadow);

  /* Background: */
  --billy-color-background-pointer-popout: var(--billy-color-background-light-grey);
  --billy-color-background-loginbutton: transparent;
  --billy-color-background-light-grey: #ebebeb;
  --billy-color-background-quoteblock: #f9f9f9;
  --billy-color-background-codeblock: #212121;
  --billy-color-background-disabled: #dddddd;
  --billy-color-background-popout: var(--billy-color-background-light);
  --billy-color-background-light: #fff;
  --billy-color-background-grey: #dddddd;
  --billy-color-background-dark: #000;

  /* Text: */
  --billy-color-text-brand-secondary: var(--billy-color-brand-secondary);
  --billy-color-text-secondary-light: #ebebeb;
  --billy-color-text-secondary-dark: #a8a4a4;
  --billy-color-text-brand-primary: var(--billy-color-brand-primary);
  --billy-color-text-primary-light: #fff;
  --billy-color-text-primary-dark: #000;
  --billy-color-text-blockquote: #000;
  --billy-color-text-hint: #7e7e7e;
  --billy-color-text-link: var(--billy-color-brand-primary);


  /* Button: */
  --billy-color-button-gradient: var(--billy-gradient-background-brand);

  /* Border: */
  --billy-color-border-left-blockquote: var(--billy-color-quotes);
  --billy-color-border-left-codeblock: #565656;

  --billy-gradient-background-brand: linear-gradient(
          to bottom right,
          var(--billy-color-brand-primary),
          var(--billy-color-brand-secondary)
  );

  --billy-gradient-background-warning: linear-gradient(
          to bottom right,
          var(--billy-color-warning-primary),
          var(--billy-color-warning-secondary)
  );

  /* Dimens: */
  --billy-grid-template-columns-article: 1fr 3fr 1fr;
  --billy-hero-content-margin-offset: 200px;
  --billy-grid-template-rows-article: 1fr;
  --billy-border-top-pointer-popout: 20px solid var(--billy-color-background-light-grey);
  --billy-border-button-width-login: none;
  --billy-border-width-categorybar: none;
  --billy-aside-card-margin-offset: 55px;
  --billy-color-border-quoteblock: none;
  --billy-color-results-title: none;
  --billy-border-categorybar: 2px solid transparent;
  --billy-hero-content-width: 750px;
  --billy-color-line-popout: var(--billy-color-background-light-grey);
  --billy-max-content-width: 1000px;
  --billy-border-quoteblock: none;
  --billy-width-side-bar: 100px;
  --billy-height-topbar: 80px;
  --billy-filter-invert: 0;
  --billy-line-height: 4px;
  --billy-line-radius: 3px;
  --billy-line-margin: 15px 0 25px 0;
  --billy-border-size: 2px;
  --billy-title-size: 50px;
  --billy-border: 2px solid transparent;

  /* Edit page: */
  --billy-edit-page-form-button-background: var(--billy-gradient-background-brand);
  --billy-edit-page-padding: 25px;
  --billy-edit-page-radius: 5px;
  --billy-edit-page-width: 100%;

  --billy-edit-page-form-select-background-position-hover: 95% 70%;
  --billy-edit-page-form-button-background-size-hover: 200% 200%;
  --billy-edit-page-form-select-background-image-url: url("/dist/assets/icon/select-dropdown.svg");
  --billy-edit-page-form-select-background-position: 95%;
  --billy-edit-page-form-select-background-size: 25px;
  --billy-edit-page-form-button-background-size: 100% 100%;
  --billy-edit-page-form-wrapper-padding-first: 0 0 10px 0;
  --billy-edit-page-form-label-title-margin: 0 0 10px 0;
  --billy-edit-page-form-button-font-size: 16px;
  --billy-edit-page-form-label-font-size: 22px;
  --billy-edit-page-form-wrapper-padding: 10px 0;
  --billy-edit-page-form-input-font-size: 16px;
  --billy-edit-page-form-button-padding: 12px 20px;
  --billy-edit-page-form-select-padding: 0 10px;
  --billy-edit-page-form-select-height: 44px;
  --billy-edit-page-form-input-padding: 0 10px;
  --billy-edit-page-form-select-width: 200px;
  --billy-edit-page-form-input-height: 45px;
  --billy-edit-page-form-padding: 10px;

  /* Editor: */
  --billy-editor-button-font-size-last-child: 20px;
  --billy-editor-button-padding-last-child: 5px;
  --billy-editor-button-bg-color-hover: var(--billy-color-background-light-grey);
  --billy-editor-content-padding: 10px;
  --billy-editor-text-font-size: 15px;
  --billy-editor-button-height: 40px;
  --billy-editor-button-width: 40px;
  --billy-editor-text-margin: auto 0 auto 15px;
  --billy-editor-height: 500px;
  --billy-editor-radius: 5px;

  /* Contribute button: */
  --billy-contribute-button-border-radius: 75px;
  --billy-contribute-button-font-size: 20px;
  --billy-contribute-button-padding: 0 25px;
}

.contrast {
  /* Color: */
  --billy-color-text-link: #ebe720;
  --billy-color-brand-secondary: #000;
  --billy-color-brand-primary: #000;
  --billy-box-shadow-lighter: none;
  --billy-color-line-popout: #fff;
  --billy-color-transparent: #fff;
  --billy-color-line-light: #fff;
  --billy-color-quotes: #fff;

  /* Background: */
  --billy-color-background-contrast-button-light: #fff;
  --billy-color-background-pointer-popout: #fff;
  --billy-color-background-quoteblock: #000;
  --billy-color-background-light-grey: #000;
  --billy-color-background-codeblock: #000;
  --billy-color-background-disabled: #2a2a2a;
  --billy-color-background-popout: #000;
  --billy-color-background-light: #000;
  --billy-color-background-grey: #000;

  /* Text: */
  --billy-color-text-brand-secondary: #fff;
  --billy-color-text-secondary-dark: #fff;
  --billy-color-text-brand-primary: #fff;
  --billy-color-text-primary-light: #fff;
  --billy-color-text-primary-dark: #fff;
  --billy-color-text-popout-link: #fff;
  --billy-color-text-blockquote: #fff;
  --billy-color-results-title: #fff;

  /* Button: */
  --billy-border-button-width-login: 2px 0px 2px 2px;
  --billy-border-width-categorybar: 2px 0px 0px 0px;
  --billy-color-button-contribute: #fff;
  --billy-color-border-codeblock: solid #fff;
  --billy-color-button-gradient: #000;
  --billy-border-categorybar: solid #fff;
  --billy-border-quoteblock: 1px;
  --billy-border-codeblock: 1px 1px 1px 1px;

  /* Border: */
  --billy-color-border-left-blockquote: #fff;
  --billy-color-border-left-codeblock: #fff;
  --billy-border-top-pointer-popout: 18px solid #fff;
  --billy-color-border-loginbutton: #fff;
  --billy-color-border-quoteblock: #fff;
  --billy-border: 2px solid #fff;

  --billy-filter-invert: 1;
}

@font-face {
  font-display: swap;
  font-weight: normal;
  font-family: Aller;
  src: url(/dist/assets/font/aller.woff2);
}

@font-face {
  font-display: swap;
  font-weight: bold;
  font-family: Aller;
  src: url(/dist/assets/font/aller-bold.woff2);
}

@font-face {
  font-display: swap;
  font-weight: bold;
  font-family: Aller;
  font-style: italic;
  src: url(/dist/assets/font/aller-bold-italic.woff2);
}

@font-face {
  font-display: swap;
  font-weight: normal;
  font-family: Aller;
  font-style: italic;
  src: url(/dist/assets/font/aller-italic.woff2);
}

#root {
  height: 100%;
  width: 100%;
}

html {
  font-family: "Aller";
}

html,
body {
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Aller";
  text-shadow: 0px 5px 10px var(--billy-color-shadow);
  display: inline-block;
  margin: 10px 0 10px 0;
}

.leaving {
  animation: 0.1s fadeOut ease-in-out;
  overflow: hidden;
  z-index: 2;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@media (max-width: 850px) {
  :root {
    --billy-height-topbar: 60px;
  }
}
