:root {
  --billy-color-turquoise: #72efda;
  --billy-color-blue: #22bef9;
  --billy-color-white: #fff;
  --billy-color-grey: #dddddd;
  --billy-color-light-grey: #ebebeb;
  --billy-color-font-light: #7e7e7e;

  --billy-gradient: linear-gradient(
    to bottom right,
    var(--billy-color-turquoise),
    var(--billy-color-blue)
  );

  --billy-color-shadow: rgba(0, 0, 0, 0.25);
  --billy-box-shadow: 0px 5px 10px var(--billy-color-shadow);
  --billy-text-shadow: 0px 5px 10px var(--billy-color-shadow);

  /* Dimens: */
  --billy-max-content-width: 1000px;
  --billy-side-bar-width: 130px;
  --billy-top-bar-height: 80px;
  --billy-hero-content-width: 750px;
  --billy-hero-content-margin-offset: 200px;
}

.contrast {
  --billy-color-turquoise: #000;
  --billy-color-blue: #000;
  --billy-color-white: #fff;
  --billy-gradient: #000;
}

@font-face {
  font-family: Aller;
  src: url(/assets/font/aller.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Aller;
  src: url(/assets/font/aller-bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Aller;
  src: url(/assets/font/aller-bold-italic.woff2);
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Aller;
  src: url(/assets/font/aller-italic.woff2);
  font-style: italic;
  font-weight: normal;
}
