:root {
  /*
    TODO: These names should be called different...
    It shouldn't describe the color, rather the component its coloring instead.
  */
  --billy-color-brand-primary: #4c74fc;
  --billy-color-brand-secondary: #801be5;

  --billy-color-transparent: transparent;

  --billy-color-warning-primary: #fc4c4c;
  --billy-color-waring-secondary: #e51b1b;

  --billy-color-background-light: #fff;
  --billy-color-background-light-grey: #ebebeb;
  --billy-color-background-dark: #000;
  --billy-color-background-sidebar: #eaeef1;

  --billy-color-button-light: #fff;
  --billy-color-button-dark: #000;

  --billy-color-text-primary-light: #fff;
  --billy-color-text-primary-dark: #000;
  --billy-color-text-hint: #7e7e7e;

  --billy-gradient-background-brand: linear-gradient(
    to bottom right,
    var(--billy-color-brand-primary),
    var(--billy-color-brand-secondary)
  );

  --billy-gradient-background-warning: linear-gradient(
    to bottom right,
    var(--billy-color-warning-primary),
    var(--billy-color-waring-secondary)
  );
  --billy-color-shadow: rgba(0, 0, 0, 0.25);
  --billy-color-shadow-lighter: rgba(0, 0, 0, 0.15);
  --billy-box-shadow: 0 5px 10px var(--billy-color-shadow);
  --billy-box-shadow-lighter: 0 5px 10px var(--billy-color-shadow-lighter);
  --billy-text-shadow: 0 5px 10px var(--billy-color-shadow);
  --billy-font-family: "Aller";

  /* Dimens: */
  --billy-max-content-width: 1000px;
  --billy-side-bar-width: 100px;
  --billy-top-bar-height: 80px;
  --billy-hero-content-width: 750px;
  --billy-hero-content-margin-offset: 200px;
  --billy-aside-card-margin-offset: 55px;
  --billy-grid-template-columns-article: 1fr 3fr 1fr;
  --billy-grid-template-rows-article: 1fr;
  --billy-line-height: 4px;
  --billy-line-radius: 3px;
  --billy-line-margin: 15px 0 25px 0;
  --billy-title-size: 50px;
  --billy-border: none;
  --billy-border-right: none;
  --billy-border-left: none;
  --billy-border-size: 2px;

  /* Edit page: */
  --billy-edit-page-width: 100%;
  --billy-edit-page-padding: 25px;
  --billy-edit-page-radius: 5px;
  --billy-edit-page-form-button-background: var(--billy-gradient);
  --billy-edit-page-form-padding: 10px;
  --billy-edit-page-form-wrapper-padding: 10px 0;
  --billy-edit-page-form-wrapper-padding-first: 0 0 10px 0;
  --billy-edit-page-form-label-title-margin: 0 0 10px 0;
  --billy-edit-page-form-label-font-size: 22px;
  --billy-edit-page-form-input-height: 45px;
  --billy-edit-page-form-input-padding: 0 10px;
  --billy-edit-page-form-input-font-size: 16px;
  --billy-edit-page-form-select-height: 44px;
  --billy-edit-page-form-select-width: 200px;
  --billy-edit-page-form-select-background-image-url: url("../../assets/icon/select-dropdown.svg");
  --billy-edit-page-form-select-background-position: 95%;
  --billy-edit-page-form-select-background-position-hover: 95% 58%;
  --billy-edit-page-form-select-padding: 0 10px;
  --billy-edit-page-form-button-padding: 12px 20px;
  --billy-edit-page-form-button-background-size: 100% 100%;
  --billy-edit-page-form-button-background-size-hover: 200% 200%;
  --billy-edit-page-form-button-font-size: 16px;

  /* Editor: */
  --billy-editor-height: 500px;
  --billy-editor-radius: 5px;
  --billy-editor-button-height: 40px;
  --billy-editor-button-width: 40px;
  --billy-editor-button-padding-last-child: 5px;
  --billy-editor-button-font-size-last-child: 20px;
  --billy-editor-button-bg-color-hover: var(--billy-color-light-grey);
  --billy-editor-content-padding: 10px;
  --billy-editor-text-font-size: 15px;
  --billy-editor-text-margin: auto 0 auto 15px;

  /* Contribute button: */
  --billy-contribute-button-background-color: var(--billy-color-white);
  --billy-contribute-button-border-radius: 75px;
  --billy-contribute-button-color: var(--billy-color-lighter-dark);
  --billy-contribute-button-font-size: 20px;
  --billy-contribute-button-padding: 0 25px;
}

.contrast {
  --billy-color-brand-primary: #000;
  --billy-color-brand-secondary: #000;
  --billy-color-white: #fff;
  --billy-gradient-background-brand: #000;
  --billy-color-side-bar: #fff;
  --billy-border: 3px solid #000;
  --billy-border-right: 2px solid #000;
  --billy-border-left: 2px solid #000;
  --billy-box-shadow-lighter: none;
  --billy-color-grey: #000;
  --billy-color-button-dark: #fff;
  --billy-edit-page-form-button-background: linear-gradient(
    to right,
    var(--billy-color-dark),
    var(--billy-color-dark)
  );
}

@font-face {
  font-family: Aller;
  src: url(/assets/font/aller.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Aller;
  src: url(/assets/font/aller-bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Aller;
  src: url(/assets/font/aller-bold-italic.woff2);
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Aller;
  src: url(/assets/font/aller-italic.woff2);
  font-style: italic;
  font-weight: normal;
}
